terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/modules/cdn/keys/private_key.pem
terraform/modules/cicd/buildspec/*.zip
terraform/modules/*/files/
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup   
*.tfvars
*.tfvars.json
*.log
*.zip
*.tfstate
