# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/modules/cdn/keys/private_key.pem
terraform/modules/cicd/buildspec/*.zip
terraform/modules/*/files/
.terraform.tfstate
.terraform.tfstate.backup   
*.tfvars
*.tfvars.json
*.log
*.zip
.env
#

*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
.terraform.tfvars
.terraform.tfvars.json

